<div *ngIf="user" class="container">
  <h1>User Details:</h1>
  <img
    src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
  />
  <form>
    <div class="input__section">
      <span for="name">Name</span>
      <input
        name="name"
        type="text"
        [value]="user.name"
        [disabled]="isAdmin"
        [(ngModel)]="user.name"
      />
    </div>
    <div class="input__section">
      <span for="username">Username</span>
      <input
        name="username"
        type="text"
        [value]="user.username"
        [(ngModel)]="user.username"
        [disabled]="isAdmin"
      />
    </div>
    <div class="input__section">
      <span for="email">Email</span>
      <input
        name="email"
        type="email"
        [value]="user.email"
        [(ngModel)]="user.email"
        [disabled]="isAdmin"
      />
    </div>
    <div class="input__section">
      <span for="birthdate">Birthdate</span>
      <input
        name="birthdate"
        type="date"
        [value]="user.birthdate"
        [(ngModel)]="user.birthdate"
        [disabled]="isAdmin"
      />
    </div>
    <div class="input__section">
      <span>Admin</span>
      <input
        type="checkbox"
        name="isAdmin"
        [value]="user.isAdmin"
        [(ngModel)]="user.isAdmin"
        [disabled]="isAdmin"
      />
    </div>
    <button (click)="editUser()">Edit</button>
  </form>
</div>
