<div class="container">
  <h1>List of Users:</h1>
  <ul>
    <li *ngFor="let user of showUsers">
      <div class="item__info">
        <img
          src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
        />
        <span>{{ user.name }}</span>
      </div>

      <div class="item__options">
        <a [routerLink]="['/user', user.username]"
          ><img src="../../../assets/images/view.png"
        /></a>
        <img *ngIf="isAdmin" src="../../../assets/images/editing.png" />
        <img *ngIf="isAdmin" src="../../../assets/images/bin.png" />
      </div>
    </li>
  </ul>
  <div *ngIf="users.length > 10">
    <button
      class="button__pagination"
      (click)="paginationUsers(-1)"
      [disabled]="numPage === 0"
    >
      prev
    </button>
    <span>{{ numPage + 1 }}</span>
    <button
      class="button__pagination"
      (click)="paginationUsers(1)"
      [disabled]="numPage === maxNumPage - 1"
    >
      next
    </button>
  </div>
</div>
