li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:.5rem;
  padding:.5rem 1rem;
}

ul{
  min-width: 50%
}

.item__info{
  img{
    width: 50px;
  }
}
.item__options, .item__info{
  display: flex;
  gap:.5rem;
  align-items: center;
}
.item__options{
  img{
    width: 30px;
  }
  img:hover{
    transform: rotate(10deg) scale(1.1);
    transition: all .5s ease;
  }
}

.button__pagination{
  background-color: lightblue;
  padding: 1rem;
  margin:0 1rem;
  border-radius: 8px;
}
.button__pagination:disabled{
  background-color: lightgray;
}
.title{
  font-size: xx-large;
  font-family: fantasy;
  letter-spacing: 5px;
  color: var(--secondary-color);
  margin-bottom: 20px;
  font-weight: 500;
}
.card{
  background-image: url('../../../assets/images/icono-plano-vista-lateral-crucero-oceano-barco-viaje-viaje-transporte_159757-176.png');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba($color: #3ed9f5, $alpha: 1.0);
  border-radius: 20px;
  border: 2px solid black
  
}
.card:hover{
  background-image: url('../../../assets/images/images.png');
  transition-duration: 3s;
}
.container{
  height: 800px;
}
