<div class="container">
  <form method="post">
    <h1 class="title">REGISTER</h1>
    <input
      class="input"
      type="text"
      [(ngModel)]="name"
      placeholder="Name"
      name="name"
      required="required"
    />
    <input
      class="input"
      type="text"
      [(ngModel)]="username"
      placeholder="Username"
      name="username"
      required="required"
    />
    <input
      class="input"
      type="email"
      [(ngModel)]="email"
      placeholder="Email"
      name="email"
      required="required"
    />
    <input
      class="input"
      type="password"
      [(ngModel)]="password"
      placeholder="Password"
      name="password"
      required="required"
    />
    <input class="input" type="date" [(ngModel)]="birthdate" name="birthdate" />
    <button class= "button" type="submit" (click)="register()">Submit</button>
  </form>
  <span>Already registered? <a [routerLink]="'/login'">Sign in here</a></span>
</div>
